@charset "utf-8";
html{
	Background-color:#FFF;	
}
.Pageheader{
	background-color:#5085D3;
	color:#000;
	text-align:left;
	padding:0.5%;
	font-size:35px;
	border-radius: 20px;
	border-color:#2B15EA;
	border-style: solid;
	border-width:5px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

#logo {
	float:left;
}

#pagename{
	text-align:center;
	font-size: 35px;
	padding-top:2%;
}


.navbar{
	width: 50%;
	height: 100%;
	border-radius: 10px 10px 10px 10px;
	-moz-border-raidus: 10px 10px 10px 10px;
	-webkit-border-raidus: 10px 10px 10px 10px;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 40%;
	border-radius: 8px;
	border-color:#999;
	border-style: solid;
	border-width:5px;
	background-color:#EBEBEB;
}

.navbar li{
	display: inline-block;
	padding-left: 2%;
	padding-right: 2%;
}

.navbar a {
	font-size:15px;
	color:#000;
	text-decoration:none;
	font-weight: bold;
}

.pagebody{
	padding-top:1%;
}


.pageholder {
	border-color:#FFF;
	border-radius: 8px;
	background-color:#FFF;
	border-style:solid;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	height:100%;	
	border-width:4px;
	float:left;
	text-align:left;
	padding:1%;

}


.rightbar{
	border-color:#999;
	border-radius: 8px;
	background-color:#EBEBEB;
	border-style:solid;
	width:100%;
	height:100%;	
	border-width:4px;
	float:right;
	padding-left:1%;
	padding-right:1%;
	margin-top:.1%;
	font-family:calibri;
}


.footer{
	border-color:#2B15EA;
	border-radius: 20px;
	background-color:#EBEBEB;
	border-style:solid;
	margin-top: 1%;
	width:100%;		
	float:left;
	text-align:left;
	padding:1% 1% 1% 1%;
	margin-bottom:1%;
	font-family:calibri;
	border-width:5px;
		
}

.footerouter{
	width:97.4%;
}


#rightboxtitlestart{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;	
	font-size:30px;
	text-align:center;

}

#rightboxtitle{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;	
	font-size:25px;
}

#homeimage2{
	padding:1% 1% 1% 1%	
}

#footerimg{
	float:left;
	padding:1% 1% 1% 1%	
}

#RTT{
	text-align:center;
}